<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/brand.min.css">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
  </head>
  <body>
    <section class="hero {% block hero_type %}{% endblock %}">
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item is-dark has-text-weight-bold is-uppercase" href="https://php.package.health">php.package.health</a>
            </div>
          </div>
        </header>
      </div>
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">{% block hero_title %}{% endblock %}</h1>
          <h2 class="subtitle">{% block hero_subtitle %}{% endblock %}</h2>
        </div>
      </div>
      {% if show.hero.footer %}
      <div class="hero-footer">
        <div class="container">
          <pre class="is-size-7">{% block hero_footer %}{% endblock %}</pre>
        </div>
      </div>
      {% endif %}
    </section>
    <section class="section">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>
    <section class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p><strong>Package.Health</strong> is <em>heavily</em> inspired in <a href="https://deps.rs">Deps.rs</a>.</p>
          <p>Source code available on <a href="https://github.com/package-health/php"><span class="icon-text"><span class="icon"><i class="cib-github" alt="GitHub"></i></span> GitHub</span></a>.</p>
        </div>
      </div>
    </section>
  </body>
</html>
